@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background: #55ACEE;
	color: #FFF;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
}
div.container {
	width: 1000px;
	margin: 0 auto;
}
h1 {
	margin: 0 0 40px 0px;
	padding-top: 30px;
}

th, tr, td {
	border: 1px solid #FFF;
	padding: 3px;
}

#table-template {
	display: none;
}

.hidden {
	display: none;
}

ul {
	list-style-type: none;
}
table {
	margin-bottom: 30px;
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: 1px solid #210f54;
	border-radius: 5px;
	color: #00004d;
}
